body {
  background-color: #222831;
}

.App {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}



.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color:#204dd4;
}

main {
  
  height: 100vh;
  margin:  0 ;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

 main form {
  height: 10vh;
  position:fixed;
  bottom: 10px;
  
  width: 100%;
  max-width: 400px;
  display:flex;
  font-size: 1.5rem;
  border-radius: 25px;
 
}
form input{
  padding: 25px;
  font-size: large;
  border-radius: 25px;
  
  width: 75%;
}
form button {
  
  border-radius: 25px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 15%;
}










ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.hell {
  width: 40px;
  height: 40px;
  margin: 0px 0px 30px 0px;
  object-fit: fill;
}
.hell2{
object-fit: fill;
height: 200%;
width: 200%;
object-position: fixed ;

}


.container {
  position: relative;
  text-align: center;
  color: white;
  max-width: 400px;

}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.svg{
  position: fixed;
  max-width: 400px;
  min-height: 100vh;

}



.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
  var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
  calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
radial-gradient(50% 50%,#000 98%,#0000 101%) 
  0 0/var(--r) var(--r) space padding-box; 
   
  background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
  color: #fff;
}
.left {
  --_d: 0%;
  
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
  top: 8px;
  left: 16px;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
  top: 8px;
  left: 16px;
}
